/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#user-connect {
  float: right;
}

#connect-text {
  float: left;
}

#connect-text p {
  margin-right: 20px;
  font-size: .9em;
  position: relative;
  top: -20px;
}

#connect-text a {
  color: #0077C5;
  text-decoration: none;
}

#connect-button {
  float: left;
}

#connect-button a {
  text-decoration: none;
  font-size: 1.2em;
  color: #FFF;
  background-color: #0077C5;
  padding: 10px 15px;
  border-radius: 3px;
}

#logo {
  width: 150px;
  height: 45px;
  background: url('intuit_grey.svg') center;
  background-size: cover;
  margin: auto;
  margin-bottom: 30px;
}

#footer-logo {
  width: 82px;
  height: 35px;
  background: url('intuit_grey.svg') center;
  background-size: cover;
  margin: auto;
}

footer {
  text-align: center;
}

@media screen and (max-width: 830px) {
  #user-connect {
    display: none;
  }
}
