<!DOCTYPE html>
<html>
  <head>
    <title>NiceForm</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="user-connect">
      <div id="connect-text">
        <p>Already have an Intuit account?<br>
        <a href="#">I forgot my User ID or Password</a></p>
      </div>
      <div id="connect-button">
        <a href="#">Sign-in</a>
      </div>
    </div>
    <div id="logo"></div>
    <%= yield %>
    <footer>
      <div id="footer-logo"></div>
      <p><a href="#">Legal</a> <a href="#">Privacy</a> <a href="#">Security</a><br>
      © 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.<br>
      Terms and conditions, features, support, pricing, and service options subject to change without notice.</p>
    </footer>
  </body>
</html>
